hotax-api/target/classes/details.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="paramsDetailsFlow">
        <set-variable variableName="hotelId" value="#[message.inboundProperties.'http.query.params'.hotelId]" doc:name="Variable - hotelId"/>
        <set-variable variableName="Parametro" value="" doc:name="Variable - Params"/>
        <flow-ref name="SetSIGParameters" doc:name="SetSIGParameters"/>
    </flow>
    <flow name="get:/hotelinfo:api-config">
        <flow-ref name="paramsDetailsFlow" doc:name="paramsDetailsFlow"/>
        <expression-component doc:name="Expression - Format parans to EAN"><![CDATA[flowVars.Parametro = "apiKey=" + message.inboundProperties.'http.query.params'.apiKey + "&cid=" + message.inboundProperties.'http.query.params'.cid + "&minorRev=30&locale=pt_BR&currencyCode=BRL&sig=" + flowVars.sig;]]></expression-component>
        <http:request config-ref="HTTP_Request_ConfigurationEAN" path="rs/hotel/v3/info?{parametros}&amp;hotelId={hotelId}" method="GET" doc:name="HTTP - Ean hotelList API">
            <http:request-builder>
                <http:uri-param paramName="parametros" value="#[flowVars.Parametro]"/>
                <http:uri-param paramName="hotelId" value="#[flowVars.hotelId]"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer doc:name="Byte Array to String - Http Content"/>
        <json:object-to-json-transformer doc:name="Object to JSON - HotelList Content - HashMap"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <expression-component doc:name="Expression - Set JsonResponse"><![CDATA[payload.put("hotelId", payload.HotelInformationResponse.HotelSummary.hotelId);
payload.put("hotelName", payload.HotelInformationResponse.HotelSummary.name);
payload.put("hotelRating", payload.HotelInformationResponse.HotelSummary.hotelRating);
payload.put("hotelTripAdvisorRating", payload.HotelInformationResponse.HotelSummary.hotelRating);
payload.put("hotelAddress", payload.HotelInformationResponse.HotelSummary.address1);
payload.put("hotelCity", payload.HotelInformationResponse.HotelSummary.city);
payload.put("hotelState", payload.HotelInformationResponse.HotelSummary.stateProvinceCode);
payload.put("hotelCountry", payload.HotelInformationResponse.HotelSummary.countryCode);
payload.put("hotelPostalCode", payload.HotelInformationResponse.HotelSummary.postalCode);
payload.put("hotelDetails", payload.HotelInformationResponse.HotelDetails);
payload.remove("HotelInformationResponse");]]></expression-component>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="get:/roomAvailability:api-config">
        <flow-ref name="paramsDetailsFlow" doc:name="paramsDetailsFlow"/>
        <flow-ref name="SetDatesParameters" doc:name="SetDatesParameters"/>
        <flow-ref name="SetRoomParameters" doc:name="SetRoomParameters"/>
        <expression-component doc:name="Expression - Format params to EAN"><![CDATA[flowVars.Parametro = "apiKey=" + message.inboundProperties.'http.query.params'.apiKey + "&cid=" + message.inboundProperties.'http.query.params'.cid + "&minorRev=30&locale=pt_BR&currencyCode=BRL&arrivalDate=" + message.inboundProperties.'http.query.params'.checkin + "&departureDate=" + message.inboundProperties.'http.query.params'.checkout + flowVars.rooms + "&rateType=MerchantPackage&sig=" + flowVars.sig;]]></expression-component>
        <http:request config-ref="HTTP_Request_ConfigurationEAN" path="rs/hotel/v3/avail?{parametros}&amp;hotelId={hotelId}" method="GET" doc:name="Ean hotelAvail API">
            <http:request-builder>
                <http:uri-param paramName="parametros" value="#[flowVars.Parametro]"/>
                <http:uri-param paramName="hotelId" value="#[flowVars.hotelId]"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer doc:name="Byte Array to String - Http Content"/>
        <json:object-to-json-transformer doc:name="Object to JSON - HotelList Content - HashMap"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <expression-component doc:name="Expression - Set JsonResponse"><![CDATA[payload.put("hotelId", payload.HotelRoomAvailabilityResponse.hotelId);
payload.put("hotelRoomResponse", payload.HotelRoomAvailabilityResponse.HotelRoomResponse);
payload.remove("HotelRoomAvailabilityResponse");]]></expression-component>
        <foreach collection="payload.hotelRoomResponse" doc:name="For Each">
            <expression-component doc:name="Expression - Set JsonImageItens"><![CDATA[payload.remove("supplierType");
payload.RateInfos.RateInfo.put('hotaxAverageFinalPrice', "100,00");
payload.RateInfos.RateInfo.put('hotaxTotalFinalPrice', "100,00");
payload.RateInfos.RateInfo.put('travelInfo"', "Preço por 7 noites para 2 pessoas");

]]></expression-component>
    </foreach>
    <json:object-to-json-transformer doc:name="Object to JSON"/>
</flow>
    <flow name="get:/hotelimages:api-config">
        <flow-ref name="paramsDetailsFlow" doc:name="paramsDetailsFlow"/>
        <expression-component doc:name="Expression - Format parans to EAN"><![CDATA[flowVars.Parametro = "apiKey=" + message.inboundProperties.'http.query.params'.apiKey + "&cid=" + message.inboundProperties.'http.query.params'.cid + "&minorRev=30&locale=pt_BR&currencyCode=BRL&sig=" + flowVars.sig;]]></expression-component>
        <http:request config-ref="HTTP_Request_ConfigurationEAN" path="rs/hotel/v3/info?{parametros}&amp;hotelId={hotelId}&amp;options=HOTEL_IMAGES" method="GET" doc:name="Ean hotelImages API">
            <http:request-builder>
                <http:uri-param paramName="parametros" value="#[flowVars.Parametro]"/>
                <http:uri-param paramName="hotelId" value="#[flowVars.hotelId]"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer doc:name="Byte Array to String - Http Content"/>
        <json:object-to-json-transformer doc:name="Object to JSON - HotelList Content - HashMap"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <expression-component doc:name="Expression - Set JsonResponse"><![CDATA[payload.put("hotelId", payload.HotelInformationResponse.'@hotelId');
payload.put("hotelImages", payload.HotelInformationResponse.HotelImages);
payload.remove("HotelInformationResponse");]]></expression-component>
        <foreach collection="payload.hotelImages.HotelImage" doc:name="For Each">
            <expression-component doc:name="Expression - Set JsonImageItens"><![CDATA[payload.remove("hotelImageId");
payload.remove("name");
payload.remove("category");
payload.remove("type");
payload.remove("caption");
payload.remove("supplierId");
payload.remove("byteSize");
payload.put("main", payload.heroImage);
payload.remove("heroImage");

]]></expression-component>
        </foreach>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
